/* general settings related to Hbb */
body 
{
    /* transparent background */
    background-color: transparent;
    /* we explicitly set the size of the body element */
    width: 1280px;
    height: 720px;
    overflow: hidden;
}

/** safe area as recommended by standard */
div.safe_area 
{
    position: absolute;
    left: 128px; top: 36px; width: 1024px; height: 648px;
    /** set background color and alpha */
    background-color: rgba(0, 0, 0, .5);
    /* white text */
    color: white;
}

/* set application area invisble as initial state (we need to press the red button, so application scene shows) */
div#app_area 
{
    visibility: hidden;
}

/* set red button div style */
div.red_button_style 
{
    position: absolute;
    left: 320px; top: 600px; width: 960px; height: 84px;
    /* red background */
    background-color: red;
    /* white text */
    color: white;
    font-family: sans-serif;
    font-size: 36px;
    line-height: 84px;
    text-align: center;
}

/* set title text style */
div.title_text
{
    padding-top: 25px;
    padding-bottom: 20px;
    color: white;
    font-family: sans-serif;
    font-size: 36px;
    text-align: center;
}

/* set status text style */
div.status_text
{
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 3px;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    border-top: 2px solid #d3d3d3;
}

/* set bottom legend style */
div.bottom_legend
{
    position: absolute;
    left: 0px; top: 624px; width: 1024px; height: 24px;
}

/* set bottom legend cell style */
div.legend_cell
{
    width: 250px;
    height: 24px;
    display: inline-block;
}

div.legend_button_red {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-color: red;
}

div.legend_button_green {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-color: green;
}

div.legend_button_yellow {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-color: yellow;
}

div.legend_button_blue {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-color: blue;
}

/* set bottom legend cell style */
span.legend_text {
    position: relative;
    top: -7px;
    font-size: 16px;
}

